body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Trebuchet MS", Verdana, sans-serif;
        font-size: 25px;
    background: #a5b8d9;
        color: #fff;

}